body{
	background-color: #C77A8A;
	font-family: 'Lobster', cursive;
	display: inline-block;
	padding:30px;
	position: absolute; /* desde acá hasta transform (centra) */
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	font-size:50px;
	color: #88182E;
}

input{
	color: #442215;
	background: no-repeat left transparent;
	padding-left: 10px;
}

div{
	color: #442215;
	display: flex; /* para centrar proporcionalmente a la página */
	justify-content: center;
	float: right;
	font-size: 30px;
}

img{
	width: 70px;
  height: 70px;
	float:left;
}

footer p{
		font-size:14.5px;
		position: static;
	  top: 50%;
	  left: 50%;
		display: inline-block;
		color: #88182E;
}
